<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <link href="style-epub.css" rel="stylesheet" type="text/css"/>
    <title>Saving Goat and Cabbages</title>
  </head>
  <body>
    <h3>Saving Goat and Cabbages</h3>
    <h4>Introduction</h4>
    <hr/>
    <p></p>
    <p class="first">Welcome to the <em>Saving Goat and Cabbages</em> game!</p>
    <p>Your mission is to carry a goat, a cabbage and a wolf across a river.</p>
    <p>You have a boat, but it's little and it can bring only one object besides you.</p>
    <p>But be careful not to leave the goat alone with the cabbage on a bank: the goat would eat the cabbage!</p>
    <p>And also be careful not to leave the wolf alone with the goat on a bank: the wolf would eat the goat!</p>
    <p>Ready? click <a href="<%=goto('bank0')%>">here</a> to begin.</p>
    <hr/>
  </body>
</html>